@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
  margin: 0;
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  background: linear-gradient(#a2d2ff, #efb0c9);
  color: #fff;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px #000;
}

.avatar {
  max-width: 150px;
  border-radius: 50%;
  border: 6px solid #efb0c9;
}

.bday-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0 20px 0;
}

.bday-date {
  margin: 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  margin: 0 auto;
  background-image: url(./images/gift-cover.jpg);
  background-size: cover;
  width: 400px;
  height: 400px;
  border: 6px solid #fff;
  border-radius: 10px;
}

.gift-img-happy:hover {
  background-image: url(./images/happy.gif);
}

.gift-img-perfect:hover {
  background-image: url(./images/perfect.gif);
}

.gift-img-badass:hover {
  background-image: url(./images/badass.gif);
}

.gift-img-fun:hover {
  background-image: url(./images/fun.gif);
}

.gift-img-fun:hover {
  background-image: url(./images/fun.gif);
}

.gift-img-love:hover {
  background-image: url(./images/love.gif);
}

.gift-img-cheers {
  height: 200px;
}

.gift-img-cheers:hover {
  background-image: url(./images/cheers.gif);
}

.footer {
  width: 400px;
  margin: 40px auto 20px;
}
